* {
    outline: 1px solid #555;
}

body {
    min-height: 150vh;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background: #fff; */
    z-index: 999;
    background: #fff;
}

.header .inner {
    display: flex;
    align-items: center;
    height: 100px;
}


.header .inner a img {
    width: 200px;

}

.header .gnb {
    margin: 0 auto 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 50px;
    font-size: 18px;
}



.header .search {
    margin: 0 0 0 10px;
}

.header .search i {
    font-size: 25px;
}

/* ㅡㅡㅡㅡㅡsection 1 main 슬라이드ㅡㅡㅡㅡㅡ */
.main_visual {
    position: relative;
}

/* 슬라이드 화살표 버튼 */
.main_visual .slick-arrow {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 999;

    background: transparent;
    border: none;
    outline: none;

    font-size: 0;
    width: 100px;
    height: 100px;
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid rgba(255, 255, 255, 0.3);
}

.main_visual .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_visual .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}



/* 슬라이드 숫자 버튼 */

.main_visual .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_visual .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;

}

.main_visual .slick-dots>* {
    display: inline-block;
    margin: 0 2px;
}

.main_visual .slick-dots li button {
    background: #002c5f;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

.main_visual .slick-dots li.slick-active button {
    background: #777;
}


.main_visual .main_slide figure {
    position: relative;
    height: 900px;
}

.main_visual .main_slide .itm01 {
    background: url(../images/car_slide01.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/car_slide02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/car_slide03.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm04 {
    background: url(../images/car_slide04.png) no-repeat center center/cover;
}

.main_visual .main_slide .slogan {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 0 15px;
}

.main_visual .main_slide .slogan strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 70px;
    font-weight: 800;
    color: #002c5f;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);

}

.main_visual .main_slide .slogan p {
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.main_visual .main_slide .slogan a {
    float: right;
    display: inline-block;
    background: #002c5f;
    color: #fff;
    padding: 3px 12px 5px 12px;
}


/* ㅡㅡㅡㅡㅡㅡsection 2 제품 슬라이드ㅡㅡㅡㅡㅡㅡㅡ */
.product_visual {
    position: relative;

    height: 900px;
    background: url(../images/car-bg-w.jpg) no-repeat center center/cover;
}

.product_visual figure {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.product_visual .slogan {
    text-align: center;
    top: 100px;
}

.product_visual .product_slide .car_tit .slogan h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #333;
}

.product_visual .slogan p {
    font-size: 16px;
    font-weight: 300;
}

.product_visual figure .car {
    position: absolute;
    top: 550px;
    left: 50%;
    width: 1200px;
    transform: translate(150%, -50%);
    transition: 1s 0.5s;
}

.product_visual figure.on .car {
    transform: translate(-50%, -50%);
}


/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ section 3 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.content {
    background: #fff;
}

.content .con {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.content .con figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.content .con figure img {
    transition: 0.5s;
}

.content .con figure:hover img {
    transform: scale(1.2);
}

.content .cover {
    position: absolute;
    inset: 0 auto auto 100%;

    width: 100%;
    height: 100%;
    /* opacity: 0.5;
    background: rgb(0, 0, 255); */

    /* .content .cover a (more)위치 아래로 내리기 */
    display: flex;
    flex-direction: column;

    background: rgba(12, 76, 163, 0.5);
    color: #fff;
    padding: 50px 30px;


}

.content .cover a {
    background: #333;
    padding: 5px 10px;
    margin: auto 0 0 0;
    align-self: flex-start;
}

.content figure:hover .cover {
    inset: 0 auto auto 0;
}





/* 위로 올라가는 버튼 */
.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
}

.to_top i {
    background: #002c5f;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}